main
  max-width: 42rem
  margin: auto
  padding-left: 1rem
  padding-right: 1rem

h1
  font-weight: 200
  font-size: 3rem
  text-align: center
  margin-top: 2rem
  margin-bottom: 2rem

h2
  font-weight: 200
  font-size: 2rem
  margin-top: 2rem
  margin-bottom: 1rem

h3
  font-weight: 200
  font-size: 1.5rem
  margin-top: 1rem
  margin-bottom: 0.5rem

p
  line-height: 1.6em
  margin-bottom: 1em
  &:last-child
    margin-bottom: 0

blockquote
  margin: 1em
  border-left: 0.25em #d8d8d8 solid
  background-color: #fafafa
  padding: 1em 1em

code
  color: #808080
  font-family: Menlo, monospace
  font-size: .85em

main ul
  margin: 1em 0
  padding-left: 2.5em

main li
  list-style-type: circle
  margin-bottom: 0.5em
