---
title:  "观点"
layout: "default_cn"
---

h1 观点

p
  | 清晰有力地表达自己的观点是一种重要的能力。每个月我都将选择一个话题，提出观点并展开论证。这一系列文章，不求观点
  a(href="https://en.wikipedia.org/wiki/Soundness") 可靠
  | ，但求逻辑
  a(href="https://en.wikipedia.org/wiki/Validity") 有效
  | 。最初几月的文章会基于我的写作课上的作业。
