---
title:  "Opinions"
layout: "default_en"
---

h1 Opinions

p
  | It’s hard to form a clear and strong opinion. Every month, I will pick a topic, offer a claim, and argue for it. The aim of this series is 
  a(href="https://en.wikipedia.org/wiki/Validity") validity
  |  rather than 
  a(href="https://en.wikipedia.org/wiki/Soundness") soundness
  | . The first few articles will base on my papers in my writing class.

ul
  -
    enOpinions = getCollection("opinions").toJSON().filter(function (opinion) {
      if (opinion.layout.endsWith('en'))
        return true;
      else
        return false;
      });
      
    removeIndex = function(str) {
      var length = str.length
      return str.substring(0, length - 'index.html'.length)
    }
  each opinion in enOpinions
    li
      p= opinion.opinionDate
      a(href=removeIndex(opinion.url))= opinion.title
